- First 5 natural no.s

In [1]:
for i in range(1,6):
    print(i)

1
2
3
4
5

- First 5 natural no. in same row.

In [4]:
for i in range(1, 6):
    print(i, end=" ")

1 2 3 4 5

- Write a python function that accepts one no. and calculates its factorial.

In [10]:
n=int(input('enter a number'))
fac=1
for i in range(1,(n+1)):
    fac=fac*i
print(fac)

enter a number5
120

- Write a program that prints the number 1 to 10
using a for loop

In [12]:
for i in range(1,11):
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

- Write a program that prints the number 1 to 10 using while loop

In [17]:
i = 1
while i <= 10:
    print(i, end=" ")
    i += 1

1 2 3 4 5 6 7 8 9 10

- Count number of digits in a Number

In [3]:
n=54321
count=0
while n!=0:
    n=n//10
    count += 1
print(count)

5

- Count number of digits in a Number. Print the digits of Number

In [13]:
n=54321
count=0
while n!=0:
    d=n%10
    n=n//10
    print(d)
    count += 1
print(count, 'number of digit')

1
2
3
4
5
5 number of digit

- Print maximum of five numbers using a function.

In [14]:
def find_max(numbers):
    return max(numbers)

nums = [3, 2, 9, 7, 5]
print(find_max(nums))

9

- anoyher way of this program

In [19]:
def find_max(list):
    max_value = list[0]
    for num in list:
        if num > max_value:
            max_value = num
    return max_value

list = [3, 2, 9, 7, 5]
print(find_max(list))

9

In [20]:
list = [3, 2, 9, 7, 5]
max_val=list[0]
for num in list:
    if num> max_val:
        max_val = num
print(max_val)

9

- Print minimum of the five numbers, using a function.

In [21]:
def find_min(numbers):
    return min(numbers)

nums = [3, 2, 9, 7, 5]
print(find_min(nums))

2

- Print minimum of the five numbers, without using a function.

In [22]:
list = [3, 2, 9, 7, 5]
min_val=list[0]
for num in list:
    if num< min_val:
        min_val = num
print(min_val)

2

- Write a python program to find those numbers which are divisible by 7
and multiple of 5 between 1500 and 2700(both included)

In [25]:
for i in range(1500,2701):
    if i%7==0 and i%5==0:
        print(i, end=" ")

1505 1540 1575 1610 1645 1680 1715 1750 1785 1820 1855 1890 1925 1960 1995 2030 2065 2100 2135 2170 2205 2240 2275 2310 2345 2380 2415 2450 2485 2520 2555 2590 2625 2660 2695

- write a python program to convert celsius to fahrenheit and fahrenheit to
celsius.

In [26]:
def convert_temperature(value,unit):
    if unit=='C':
        return (value * 9/5) + 32
    elif unit == 'F':
        return (value - 32) * 5/9

print(convert_temperature(25,'C')) 
print(convert_temperature(77,'F'))

77.0
25.0

In [30]:
t=['a','b','c','d','e']
for i in t:
    print(i)

a
b
c
d
e

- Write a python program that accept a word from the user and reverse it

In [31]:
def reverse_word(word):
    return word[::-1]

word = input("Enter a word: ")
print("The reversed word is:", reverse_word(word))

Enter a word: deepika
The reversed word is: akipeed

In [32]:
def reverse_word(word):
    return ''.join(reversed(word))

word = input("Enter a word: ")
print("The reversed word is:", reverse_word(word))
#Alternatively, you can use python built-in function reversed and join to achieve the same

Enter a word: nitin
The reversed word is: nitin

- write a python program that print all the number from 0 to 6 except 3 and
6 , using continue statement

In [33]:
for i in range(6):
    if i==3 or i==6:
        continue
    else:
        print(i, end=" ")

0 1 2 4 5

- Print the fibonacci series between 0 to 50

In [38]:
def fibonacci_series(n):
    a, b = 0, 1
    series = [a]
    while b < n:
        series.append(b)
        a, b = b, a + b
    return series

print(fibonacci_series(50))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [35]:
def fibonacci_series(n):
    series = [0, 1]
    while series[-1] < n:
        series.append(series[-1] + series[-2])#doubt
    return series

print(fibonacci_series(50))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

- write a python program to find number btw 100 to 400 where each digit of

a number is an even number . the number obtained should be printed in a comma-
seperated sequence

In [39]:
for i in range(101,400):
    if i%2==0:
        print(i, end=",")

102,104,106,108,110,112,114,116,118,120,122,124,126,128,130,132,134,136,138,140,142,144,146,148,150,152,154,156,158,160,162,164,166,168,170,172,174,176,178,180,182,184,186,188,190,192,194,196,198,200,202,204,206,208,210,212,214,216,218,220,222,224,226,228,230,232,234,236,238,240,242,244,246,248,250,252,254,256,258,260,262,264,266,268,270,272,274,276,278,280,282,284,286,288,290,292,294,296,298,300,302,304,306,308,310,312,314,316,318,320,322,324,326,328,330,332,334,336,338,340,342,344,346,348,350,352,354,356,358,360,362,364,366,368,370,372,374,376,378,380,382,384,386,388,390,392,394,396,398,

- write a python program to calculates a dogs age in human year
(NOTE:for first two year dog age is 10.5 human year and is 4 times for so on years)

In [40]:
def dog_age_in_human_years(dog_age):
    if dog_age <= 2:
        human_age = dog_age * 10.5
    else:
        human_age = 21 + (dog_age - 2) * 4
    return human_age

print(dog_age_in_human_years(10))

53

- Write a python program to check whether a triangle is
equilateral,isosceles or scalene

In [47]:
a =[1,2,2]
if a[0]==a[1]==a[2]:
    print('equilateral')
elif a[0]==a[1] or a[1]==a[2] or a[2]==a[0]:
    print('isoceles')
else:
    print('scalen')

isoceles

- Accept the input from user and calculate the sum of all the number
between 1 and given number

In [1]:
n=int(input())
sum=0
i=1
while i<=n:
    sum+=i
    i+=1
print(sum)

5
15